streamlit==1.47.1
numpy==2.3.2
pandas==2.3.1
scikit-learn==1.7.1
requests==2.32.4
pillow==10.0.0
groq==0.31.0
gTTS==2.5.4
Markdown==3.8.2
plotly==6.3.0
python-dotenv==1.1.1
streamlit-player==0.1.5
torch==2.8.0
transformers==4.55.2
scikit-surprise>=1.1.3
